@media screen and (max-width: 320px){
  /* -------botones----- */

.swiper {
  width: 100%;
  margin: 20px 0 ;
  overflow: scroll;
  border: 2px solid red; 
  
}

.swiper::-webkit-scrollbar {
  display: none;
}


.filter_btn {
  width:400px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 10px;

  
}

.btn_scroll{
  width: auto;
  font-size: 12px;
  padding: 10px;
  color:rgb(81, 79, 79);
  border: none;
  border-radius: 10px;
  border: 2px solid grey;
  transition: 0.3s;
  cursor: pointer;
}

.btn_scroll:hover {
  background-color: #252525;
  color: white;
  border: 2px solid gray;
}

.active {
  background-color: #252525;
  color: white;
  border: 2px solid gray;
  border-radius: 10px;
}

/* ----------------Cards----------------- */

.hidden {
  width: 320px;
  overflow:-moz-hidden-unscrollable;
}

.render_guitars_container {
  margin-top: 40px;
  width: 320px;
  border: 2px solid red;
  overflow: scroll;
  
  
}

.render_guitars_container::-webkit-scrollbar {
  display: none;
}


.cards {
  width:1200px;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 10px;
  overflow-x: scroll;
}


.guitar_card {
  width: 180px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.10);
  padding: 15px;
}

.image_card_container {
  width: 100%;
  height: 160px;
  
}

.image_card_container img {
  width: 100%;
  height: 100%;
}

.guitar_data_container {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
  
}

.guitar_data {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
}


.guitar_data h3 {
  width: 90%;
  height: 15px;
  overflow: hidden;
  font-size: 13px;
  
}

.guitar_data span {
  color: rgb(205, 169, 10);
  font-weight: 800;
} 

.guitar_data_container i {
  width: 10%;
 font-size: 22px;
 color: rgb(181, 177, 176);
 
}

.guitar_card button {
  border: none;
  border-radius: 10px;
  padding:8px;
  background-color: #252525;
  color: white;
  width: 80%;
  margin-top: 10px;
  cursor: pointer;
}
}