
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding: 60px;

  
}


:root {
  --color_grey: rgb(161, 154, 154);
}



body {
  background-color: #111;  
 
  /* border: 1px solid red; */
  
  
} 





.base_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}




/* ----Menu---- */

.header_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: linear-gradient(rgba(5,7,12,0.76),rgba(5,7,12,0.84));
  border-bottom: 1px solid gray;
}


.header { 
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  background: linear-gradient(rgba(5,7,12,0.76),rgba(5,7,12,0.84));
  border-bottom: 1px solid gray;

  
}

.logo_container {
  width: 80px;
  height: 100%;
}

.logo_container img {
  width: 100%;
  height: 100%;
}

.menu {
  width: 300px;
  
  
}

.menu ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  
}



.menu ul li a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: 0.3s;
}



.menu ul li a:hover {
  color: rgb(248, 43, 43);
  
}

.icon_cart , .logo_container {
  margin: 0 15px;

}


.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login a  {
 color: white;
}

.login i {
  font-size: 20px;
  cursor: pointer;
}

.icon_bars_container {
  display: none;
}




/* ----Main----- */

.main_container {
  width: 100%;
  height: 100%;
  
  position: relative;
  top: -60px;
  

}

.main {
  width: 100%;
  height: 700px;
  display: flex;
  
  align-items: center;
  background-image: linear-gradient(rgba(5,7,12,0.76),rgba(5,7,12,0.84)),url(img/main_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150% 100%;



}


.left_main_container{
  width: 45%;
  height: 500px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  
  
  gap: 15px;
}

.left_main_container h3 {
  color: white;
  font-size:15px ;
  /* margin-top: 40px; */
}

.release {
  width: 50%;
  margin-top: 80px;
  margin-left: 34px;
}



.new_guitar_container h2 {
  color: white;
  font-size: 40px;
  margin-left: 30px;
}


.paul {
  color: orange;
}

.text_signature_container {
  margin-left: 30px;
}

.text_signature_container h3 {
  font-size: 18px;
  color: rgb(161, 154, 154);
}

.signature_img_container {
  width: 50%;
  height: 100px;
  
  margin-top: 100px;
  margin-left: 38%;
  
}

.signature_img_container img {
  width: 100%;
  height: 100%;
}




.right_main_container {
  width: 55%;
  height: 600px;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  
  
}

.guitar_paul_container {
  width: 40%;
  height: 100%;
  
}

.guitar_paul_container img {
  width: 100%;
  height: 100%;
 
}


.info_guitar_paul_container {
  width: 300px;
  margin-right:10px ;
  display: flex;
  justify-content: center;
  
  gap: 15px;
  
}

.info_guitar_paul_container h3 {
  font-size: 28px;
  
  color: white;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}

.info_guitar_paul {
  width: 190px;
  display: flex;

  
}

.info_guitar_paul h4 {
  color: rgb(161, 154, 154);
  font-size: 18px;
}

.info_guitar_paul_container li {
  width: 80px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.info_guitar_paul_container li a {
  background-color: rgb(250, 167, 13);
  padding: 10px 20px;
  border-radius: 10px;
  color: black;
  letter-spacing: 1px;
  box-shadow: 1px 1px 1px 2px rgba(11, 11, 11, 0.8);
}



/* ------Adventage-----------*/
.adventage_container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  padding: 30px 0;
  background-image: linear-gradient(rgba(5,7,12,0.86),rgba(5,7,12,0.70)),url(img/benefits_image.jpg);
  background-repeat: no-repeat;
  background-position:  center center top;
  background-size:cover;
  
}

.items_adventage_container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  
}

/* lineas de lo items */
.first {
  border-right: 1px groove grey;
  border-bottom: 1px groove grey;
}
 .second {
  border-left: 1px groove grey;
  border-bottom: 1px groove grey;
} 

.third {
  border-right: 1px groove grey;
  border-top: 1px groove grey;
} 
.fourth {
 border-left: 1px groove grey;
  border-top: 1px groove grey;
}
/* ---- */

.item {
  display: flex;
  width: 500px;
  height: 160px;
  justify-content: center;
  align-items: center;
  gap: 22px;
  

}




.item i {
  color: orange;
  font-size: 45px;
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.benefits h3 {
  color: white;
  font-size: 25px;
}

.benefits p {
  color: var(--color_grey);
  font-size: 18px;
}




/* -----About------ */


.about_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 90%;
}

.tittle_about_container , .info_about_container {
  width: 100%;
  color:white;
  
}

.tittle_about_container h3 {
  font-size: 18px;
  margin-bottom: 14px;
}

.tittle_about_container h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.music_shop {
  color: orange;
}


.about_img_container {
  width: 80%;
  height: 400px;
  margin: auto;
}

.about_img_container img {
  width: 100%;
  height: 100%;
}

.info_about_container p {
  margin-top: 30px;
  color: var(--color_grey);
}

.experience_year_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 40px;
}

.experience_year_award{
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  padding: 20px;
  gap: 12px;
}

.fa-award{
  color: orange;
  font-size: 40px;
}

.year {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.year span {
  font-size: 35px;
  font-weight: 500;
}

.fa-plus {
  font-size: 18px;
  color: orange;
}

.experience {
  color: var(--color_grey) ;
  font-size: 18px;
}


.items_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.items_about div {
  display: flex;
  gap: 10px;
}

.fa-compact-disc {
  color: orange;
}









/* ----------Tienda de guitarras---------------- */
.shop {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.shop_tittle {
  color: white;
}



.swiper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0 ;
  
  
}




.filter_btn {
  width:100%;
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 10px;

  
}

.btn_scroll{
  font-size: 16px;
  padding: 10px;
  color:rgb(81, 79, 79);
  border: none;
  border-radius: 10px;
  border: 2px solid grey;
  transition: 0.3s;
  cursor: pointer;
  background-color: white;
}

.btn_scroll:hover {
  background-color: #252525;
  color: white;
  border: 2px solid gray;
}



/* ----------------Cards----------------- */



.render_guitars_container {
  margin-top: 40px;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}


.cards {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 0 10px;
 
}


.guitar_card {
  width: 300px;
  
  border-radius: 10px;
  background:#393E46;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  align-items: center;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.10);
  padding: 15px;
}

.image_card_container {
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.image_card_container img {
  width: 100%;
  height: 100%;
  transition: 0.3s;

}

.image_card_container img:hover {
  transform: scale(1.1);
}

.guitar_data_container {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgb(177, 170, 170);
  
  
}

.guitar_data {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
  margin-top: 20px;
}


.guitar_data h3 {
  
  font-size: 20px;
  
}

.guitar_data span {
  color: rgb(223, 185, 12);
  font-weight: 800;
  font-size: 24px;
} 

.guitar_data_container i {

 font-size: 30px;
 color: rgb(155, 153, 152);
 cursor: pointer;
 
}

.guitar_card button {
  border: none;
  border-radius: 10px;
  padding:12px;
  background-color: #252525;
  color: white;
  width: 80%;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  transition:0.5s;
}



/* --------------Carrito---------- */
.cart_container {
  width: 50%;
  height: 650px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  
  right: 0;
  /* background-color: rgb(57, 55, 55); */
  background-color: rgba(5,7,12,0.96);
  border: 1px solid black;
  z-index: 2;
  
  

}



/* ---Filtro de la tienda--- */
.active {
  background-color: #252525;
  color: white;
  border: 2px solid gray;
  border-radius: 10px; 
  
  
}
  


/* ---Carrito--- */
.cart {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  
  align-items: center;
  
  gap: 15px;
}

.tittle_cart {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: rgb(255, 79, 39);
  color:white;
}


/* boton cerrar */
.back {
  color: red;
  position: absolute;
  top: -10px;
  display: none;
}


.card_product_cart {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  
  border: 2px solid rgb(24, 21, 21);
}

/* ----Menu despegable carrito ----- */
.products_cart {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  
  gap: 10px;
  width: 100%;
  height: 350px;
  
  overflow-x: hidden;
  
  

}

.products_cart::-webkit-scrollbar {
  width: 10px;
  background-color: none;
  border: 2px solid #f1f2f3;
  border-radius: 10px;
}

.products_cart::-webkit-scrollbar-thumb {
  background-color: rgb(255, 79, 39);
  border-radius: 10px;
  
}

.not_product_container {
  width: 100%;
  margin: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not_product_container div {
  width: 50%;
  background-color: #252525;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
}

.total_container {
  width: 50%;
  height: 130px;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 5px 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.total_container div {
  width: 60%;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.subtotal_container span , .subtotal_tittle , .delivery {
  width: 50%;
  
}


.free {
  width: 50%;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 79, 39);
  
}



.final_total {
  margin-top: 10px;
}
.total_tittle {
  width: 50%;
  font-size: 20px;
  font-weight: 600;
}

.total {
  width: 50%;
}

.buy_button {
  width: 50%;
  margin: 10px auto;
  border: none;
  border-radius: 10px;
  padding:12px;
  background-color: #252525;
  color: white;
  cursor: pointer; 
  transition: 0.3s;
  
  border: 1px solid rgb(98, 89, 89);
}

.buy_button:hover {
  background-color: rgb(255, 79, 39);
  border: 1px solid rgb(98, 89, 89);
  
}


/* propiedad para desabilitar boton de compra cuando no haya producto */
.disabled {
  cursor: not-allowed;
  pointer-events: none;
  /*Button disabled - CSS color class*/
  
  background-color: grey;

}





/*  --------*/

.img_product_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 130px;
}

.img_product_cart img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgb(235, 232, 232)
}


.data_product_cart {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  
}

.type_guitar_cart {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid gray;
  width: 180px;
  height: 60%;
  gap: 2px;
}

.type_guitar_cart h2 {
  font-size: 20px;

}

.type_guitar_cart span{
  font-size: 14px;
  color: rgb(88, 86, 86);
}


/* ----Cantidad y precio */
.price_product_container {
  
  display: flex;
  justify-content: space-between;

}

.quantity {
  display: flex;
  gap: 10px;
}

.quantity button {
  
  width: 20px;
  height: 20px;
  border-radius: 30%;
  font-weight: 700;
  background-color: white;
  cursor: pointer;
}

.quantity :nth-child(2) {
  color: black;
  font-weight: 600;
}


.price_product_container span {
  color: rgb(189, 156, 8);
  font-weight: 600;
  font-size: 18px;
}


.card_product_cart i {
  color: red;
  font-size: 25px;
  cursor: pointer;
  
}

.disabled_minus { 
  cursor: not-allowed;
  pointer-events: none;
  /*Button disabled - CSS color class*/
  
  
}


/* ----icono carrito */


.hide {
 display: none;
}

.icon_cart {
  width: 50px;
  height: 50px;
  position: relative;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.icon_cart i {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.products_in_cart {
  width: 18px;
  position: absolute;
  margin-top: -70%;
  margin-right: -70%;
  color: white;
  background-color: rgb(255, 79, 39);
  border-radius: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}



/* -------Footer------- */

.footer_container {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  
}


.left_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer_logo_container {
  width: 120px;
  height: 90px;
}

.footer_logo_container img {
  width: 100%;
  height: 100%;
}


.text_footer {
  margin-top: 10px;
  color:var(--color_grey);
}

.social_media {

  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social_media i {
  color: white;
  border: 2px solid white;
  padding: 10px;
  transition: all 0.3s;
  font-size: 22px;
}

.social_media i:hover {
  background-color: orange;
}


.data_footer_container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}


.data_footer {
  display: flex;
  gap: 15px;
}


.data_footer i {
  color: orange;
}






.middle_tittle_footer  {
  color: orange;
  margin-bottom: 20px;
  font-size: 20px;
}

.data_footer p {
  color: var(--color_grey);
}

.left_footer , .middle_footer {
  height: auto;
  /* border: 1px solid red; */
}

.left_footer , .middle_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social_media_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  gap: 10px;
}

.social_media_footer span {
  color: var(--color_grey);
}


/* ------------------------------------------------------------------------- */

/* ----Pagina de Login----- */
.background_login_page {
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(5,7,12,0.66),rgba(5,7,12,0.74)),url(img/login_back.jpg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.main_login_container {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgba(5,7,12,0.82);
  gap: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px black;

}


/* --Logo y titulo del login/formulario */

.tittle_login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login_logo_container {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.login_logo_container img {
  width: 120px;
  height: 100px;
}

.main_login_container h2 {
  
  color: white;
}


/* ---formulario inputs */
.form_login_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputs_form {
  padding: 8px 0;
  border:2px solid black;
  background-color: #424242;
  outline: none;
  transition: 0.3s;
  border-radius: 5px;
  color: white;
}



.btn_form {
  padding: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
  background-color:darkorange;
  border: none;
  
}


/* ---redes sociales para registarse */

.login_social_medias_container {
  
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.google{
  width: 25px;
  height: 22px;
}

.facebook {
  width: 18px;
  height: 20px;
  
}

.twitter{
  width: 22px;
  height: 20px;
}


.send_to_register_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.send_to_register_container h3 {
  font-size: 15px;
  color: white;
}

.send_to_register_container a {
  color: orange;
}



/* -----Seccion Registro---- */
.background_register_page {
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(5,7,12,0.66),rgba(5,7,12,0.74)),url(img/register_background.jpg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.main_register_container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.form_register_container {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color:rgba(5,7,12,0.92);
  border-radius: 10px;
  box-shadow: 2px 2px 6px black;
  padding-bottom: 20px;
}



.form_register {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.form_register_container .tittle_login_container h2 {
  color: white;
}


.data-box {
  position: relative;
}

.form_register .data-box .input {
  width: 220px;
}


.input {
  padding: 10px 12px;
  border-radius: 5px;
  outline: none;
  
  background-color: #111;
  border: none;
  color: white;
  border: 1px groove white;
  height: 45px;
}

.label {
  position: absolute;
  left: 10px;
  top: 12px;
  transition: 0.4s;
  color: white;
  background-color: #111;
  width: 90%;
}

.input:focus~.label, .input:valid ~ .label{
  color: orange;
  font-size: 12px;
  top:-8px;
  left: 9px;
  width: auto;
  padding: 0 4px;
}


.btn_register {
  padding: 6px ;
  border-radius: 5px;
  outline: none;
  border: none;
}





